* {
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

@font-face {
    font-family: "Montserrat";
    src: url('./Fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype'),
    url('./Fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype')
}

html {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    height: 100%;
    background-color:#dadeda;
    color: black;
    box-sizing: border-box;
}

body {
    display: grid;
    font-size: 1em;
    grid-template: 0.2fr 1.5fr 1.5fr 0.2fr / 1fr;
    gap: 10px;
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;
    padding: 0em 1em 0.25em 1em;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aac7af;
    flex-basis: 10%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color:#828282;
}

main { 
    background-color:#828282;
    height: 100%;
}

footer {
    display: flex;
    background-color: #aac7af;
}

a:link, a:visited {
    color: black;
}

nav ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

nav li {
    display: inline-block;
    width: 25%;
    text-align: center;
}

header h1, header h2 {
    margin: 0 auto;
    text-align: center;
}

header h1 {
    font-size: 7em;
    line-height: 0.8em;
}

header h2 {
    text-transform: lowercase;
    font-weight: 400;
}

footer p, ul {
    /* border: 1px solid black; */
    display: flex;
    width: 50%;
}

footer p {
    justify-self: left;
    align-items: center;
    position: relative;
    left: 2%;  
    overflow: hidden;
}

footer ul {
    justify-content: center;
    align-items: center;
}

footer li {
    list-style: none;
    margin: 0 15%; 
}

                                /* Blog Section Formatting */

#blog-container {  /*Grid container*/
    border: 1px solid #810e05;
    display: grid;
    grid-template: 1fr 8fr / 1fr;
    /* row-gap: 50px; */
    height: 100%;
    box-sizing: border-box;
}

#blog-section-heading { /*Block container*/
    border: 1px solid black;
    font-size: 2em;
    text-align: center;
}

#blog-articles-container {  /*Flex container*/
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    margin: auto;
    justify-content: space-around;
}

                                /* Blog Article formatting */

.article { /*Flex container*/
    border: 1px solid black; 
    display: flex;
    flex-direction: column;
    background-color: #d9d6d5;
    width: 350px;
    height: 270px;
    margin: 10px 0;
    text-decoration: none;
    justify-content: center;
}

.article-title, .article-description, .read-more-sign {
    padding: 0.5em;
}

.article-title {
    border-bottom: 1px solid black; 
    border-radius: 0px;
    text-align: left;
    flex: 2;
}

.article-description {
    text-align: left;
    flex: 6;
}

.read-more-sign {
    text-align: right;
    font-weight: bold;
    align-self: flex-end;
    flex: 1;
}

.article-title h3 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

                                /* Name styling */

.name-style {
    text-decoration: underline;
}